# ignorar o hpcNMF.exe
# pois a licença não é pública
*.win

# env
env/

# diretorios
__pycache__/
.ipynb_checkpoints/
dataset/
tests/
#results/
grid-images/

# imagens
#*.png

metrics.py
loop_colonorm.py